<h1>New Video</h1>

<%= form_for @video do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title, :placeholder => "Movie Title here" %>
	<%= f.label :youtube_id %>
	<%= f.text_field :youtube_id, :placeholder => "Movie ID here" %>
	<%= f.label :description %>
	<%= f.text_field :description, :placeholder => "Description here" %>

	<%= f.submit %>
<% end %>